
@model IEnumerable<SistemaWebPizzaria.Models.Cardapiopizza>

@{ViewData["Title"] = "Cardápio";}

<h2>@ViewData["Title"]</h2>
<hr />
<!-- busca -->
<div class="row">
    <form method="post" asp-action="BuscarCardapio">
        <div class="col-md-10 input-group-lg">
            <input class="form-control" type="text" name="nomeprod" placeholder="Buscar por Sabor">
        </div>
        <div class="col-md-2">
            <button class="btn btn-info btn-block btn-lg" type="submit">Buscar</button>
        </div>
    </form>
</div>
    <hr />
<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" class="btn btn-primary btn-lg">Adicionar</a>
        <a asp-action="../Home/MenuSistema" class="btn btn-primary btn-lg">Home</a>
        <a asp-action="../Pedidos/Pedido" class="btn btn-success btn-lg">Pedido</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover" style="border-color:#9a9a9a">
            <thead>
                <tr class="bg-primary">
                    <th>
                        <label class="control-label text-center">Tipo</label>
                    </th>
                    <th>
                        <label class="control-label">Tamanho</label>
                    </th>
                    <th>
                        <label class="control-label">Sabor</label>
                    </th>
                    <th>
                        <label class="control-label">Descrição</label>
                    </th>
                    <th>
                        <label class="control-label">Valor</label>
                    </th>
                    <th>
                        <label class="control-label">Ações</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tamanho)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sabor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorUnitario)
                        </td>
                        <td>
                            <a asp-action="Detalhe" class="btn btn-default btn-sm" asp-route-id="@item.IdCardapio"><span class="material-icons">edit</span></a>
                            <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal-@item.IdCardapio"><span class="material-icons">delete</span></a>
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal-@item.IdCardapio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myModalLabel">Atenção</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Deseja mesmo deletar esse item?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">voltar</button>
                                    <a asp-action="Delete" asp-route-id="@item.IdCardapio" class="btn btn-danger">Deletar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>
