
@model IEnumerable<SistemaWebPizzaria.Models.Despesa>

@{
    ViewData["Title"] = "Despesas Cadastradas";
}

<h2>@ViewData["Title"]</h2>
<hr />

<p>
    <a asp-action="CreateDespesa" class="btn btn-primary btn-lg">Nova Despesa</a>
    <a asp-action="../Home/MenuSistema" class="btn btn-primary btn-lg">Home</a>
</p>


<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-primary">
            <th>
                <label class="control-label text-center">Nome da Despesa</label>
            </th>
            <th>
                <label class="control-label">Valor (R$)</label>
            </th>
            <th>
                <label class="control-label">Descrição</label>
            </th>
            <th>
                <label class="control-label">Data</label>
            </th>
            <th>
                <label class="control-label">Ações</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDespesa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDespesa)
                </td>

                <td>
                    <a asp-action="Edit" class="btn btn-default btn-sm" asp-route-id="@item.IdDespesa"><span class="material-icons">edit</span></a> @*chama tela de ditar com os campos preenchidos*@
                    <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal-@item.IdDespesa"><span class="material-icons">delete</span></a>
                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="myModal-@item.IdDespesa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="myModalLabel">Atenção</h3>
                        </div>
                        <div class="modal-body">
                            <p>Deseja mesmo deletar essa despesa?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">voltar</button>
                            <a asp-action="DeleteDespesa" asp-route-id="@item.IdDespesa" class="btn btn-danger">Deletar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>

