
@model PagedList.IPagedList<SistemaWebPizzaria.Models.Endereco>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<div class="container col-md-12">



    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="row">

        <form method="post" asp-action="Buscar">
            <div class="col-md-10 input-group-lg">
                <input class="form-control" type="text" name="telefone" placeholder="Buscar nome ou telefone" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-info btn-block btn-lg" type="submit">Buscar</button>
            </div>
        </form>
    </div>
    <hr />
    <div class="row col-md-12 col-sm-3">
        <div class="row col-md-4">
            <p>
                <a asp-action="Index" class="btn btn-primary btn-lg">Novo Cliente</a>
                <a asp-action="../Home/MenuSistema" class="btn btn-primary btn-lg">Home</a>
                <a asp-action="../Pedidos/Pedido" class="btn btn-success btn-lg">Pedido</a>
            </p>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr class="bg-primary">
                    <th>
                        <label class="control-label text-center">Nome do cliente</label>
                    </th>
                    <th>
                        <label class="control-label">Telefone</label>
                    </th>
                    <th>
                        <label class="control-label">CEP</label>
                    </th>
                    <th>
                        <label class="control-label">Rua</label>
                    </th>
                    <th>
                        <label class="control-label">Nº</label>
                    </th>
                    <th>
                        <label class="control-label">Complemento</label>
                    </th>
                    <th>
                        <label class="control-label">Bairro</label>
                    </th>
                    <th>
                        <label class="control-label">Ações</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClienteIdClienteNavigation.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClienteIdClienteNavigation.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rua)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Complemento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bairro)
                        </td>

                        <td class="text-center">

                            @{ if (item.Ativo == "S")
                                {
                                    <a asp-action="EditCliente" class="btn btn-default btn-sm" asp-route-id="@item.ClienteIdCliente"><span class="material-icons">edit</span></a> @*chama tela de ditar com os campos preenchidos*@
                                    <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal-@item.ClienteIdCliente"><span class="material-icons">delete</span></a>
                                }
                            }

                            @{ if (item.Ativo == "N")
                                {

                                    <a asp-action="AtivaCliente" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalAtivaCliente-@item.ClienteIdCliente"><span class="material-icons">loop</span></a>
                                    <a class="btn btn-danger btn-sm" data-toggle="modal" @*data-target="#myModal-@item.ClienteIdCliente"*@><span class="material-icons">person_add_disabled</span></a>

                                }
                            }
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal-@item.ClienteIdCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myModalLabel">Atenção</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Deseja mesmo inativar o cliente @Html.DisplayFor(modelItem => item.ClienteIdClienteNavigation.Nome) ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">voltar</button>
                                    <a asp-action="InativaCliente" asp-route-id="@item.ClienteIdCliente" class="btn btn-danger">Inativar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal reativar cliente -->
                    <div class="modal fade" id="myModalAtivaCliente-@item.ClienteIdCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myModalLabel">Atenção</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Deseja mesmo reativar o cliente @Html.DisplayFor(modelItem => item.ClienteIdClienteNavigation.Nome) ? </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">voltar</button>
                                    <a asp-action="AtivaCliente" asp-route-id="@item.ClienteIdCliente" class="btn btn-primary">Reativar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table><br /><br />

        <div class="row col-md-12">
            <ul class="text-center">

                <div class="col-md-12">
                    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    de @Model.PageCount
                </div>

                @if (Model.HasPreviousPage)
                {


                    <button class="btn btn-sm btn-primary">
                        @*@Html.ActionLink("Anterior", "Lista", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })*@
                        <a style="color : #ffffff" href="@Url.Action("Lista", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">Anterior </a>
                    </button>

                }
                else
                {

                    <button class="btn btn-sm btn-primary">
                        <a style="color : #ffffff"> Anterior</a>
                    </button>
                }

                @if (Model.HasNextPage)
                {

                    <button class="btn btn-sm btn-primary">
                        @*@Html.ActionLink("Próxima", "Lista", new { pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })*@
                        <a style="color : #ffffff" href="@Url.Action("Lista", new { pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">Anterior </a>
                    </button>

                }
                else
                {
                    <button class="btn btn-sm btn-primary">
                        <a style="color : #ffffff">Próximo</a>
                    </button>
                }
            </ul><br /><br /><br /><br />

        </div>
    </div>
</div>


