
@model Double

<div class="container-fluid">

    <h2>Total de Entradas</h2>
    <hr />
    <div class="row col-md-12">

        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a asp-action="../Relatorios/Entrada">Entradas <span class="sr-only">(current)</span></a></li>
                <li><a asp-action="../Relatorios/Saida">Saídas</a></li>
                <li><a asp-action="../Relatorios/Ganho">Ganhos</a></li>
                <li> <a asp-action="../Home/MenuSistema">Home</a></li>
            </ul>
        </div>

        <div class="col-sm-6 col-sm-offset-3 col-md-9 col-md-offset-0">
            <form class="form-horizontal col-md-offset-1" asp-action="Entrada">
                <fieldset>
                    <div class="col-md-4">
                        <label>Data Início</label>
                        <input type="date" name="minDate" class="form-control" value=@ViewData["minDate"] />
                    </div>
                    <div class=" col-md-4">
                        <label>Data Fim</label>
                        <input type="date" name="maxDate" class="form-control" value=@ViewData["maxDate"] />
                    </div>
                    <div class="col-md-4">
                        <br />
                        <button type="submit" class="btn btn-primary ">Submit</button>
                    </div>
                </fieldset>
            </form><br />

            <div class="img-rounded col-md-12 text-center" style="box-shadow: #505050 0px 1px 5px; background-color: #ffe240">
                <br />
                @*<h1 class="" style="color:#424242; font-family:Impact">R$   @Model.ToString("F2")</h1><br /><br />*@
                <h1 class="" style="color:#424242; font-family:Impact">R$  @Model.ToString("F2")  </h1><br /><br />  
                <p class="" style="color:#ff0000; font-family:Verdana">
                 Relatório em construção!
            </p> 
            </div>
            

        </div>
    </div>

    @*<div class="col-sm-6 col-sm-offset-3 col-md-9 col-md-offset-2">
            <br />
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="">
                        <th>
                            <label class="control-label text-center">Nome da Despesa</label>
                        </th>
                        <th>
                            <label class="control-label">Valor (R$)</label>
                        </th>
                        <th>
                            <label class="control-label">Descrição</label>
                        </th>
                        <th>
                            <label class="control-label">Data</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Despesas)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeDespesa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataDespesa)
                            </td>
                        </tr>
                    }

                    @foreach (var item in Model.Produtoestoque)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecoCompra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataCompra)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>*@
</div>






