@model SistemaWebPizzaria.Models.Pedido

@{ViewData["Title"] = "Detalhes do pedido";}

<style>
    .cancelado {
        background-color: #FF6347 !important;
        color: white !important;
    }
</style>

<h2>@ViewData["Title"]</h2>

<div class="row">
    <hr />
    <div class="col-md-12">
        <form method="post" asp-action="Create">
            <div class="row" style="margin-bottom:15px;">

                <div class="col-md-1">
                    <label for="">ID</label>
                    <input class="form-control" asp-for="IdPedido" type="text" readonly />
                </div>

                <div class="col-md-2">
                    <label for="">Entrega</label>
                    <input class="form-control" asp-for="TipoEntrega" type="text" readonly />
                </div>

                <div class="col-md-2">
                    <label for="">Forma de pagamento</label>
                    <input class="form-control" asp-for="FormaPagamento" type="text" readonly />
                </div>

                <div class="col-md-2">
                    <label for="">Lista de Funcionário</label>
                    <input class="form-control" asp-for="IdFuncioarioNavigation.Nome" type="text" readonly />
                </div>

                <div class="col-md-2">
                    <label for="">Cliente</label>
                    <input class="form-control" asp-for="IdClienteNavigation.Nome" type="text" readonly />
                </div>
            </div>
            <hr />
            <div style="margin: 15px 0px;">
                <table class="table table-bordered ">
                    <thead style="background-color:#808080; color:white;">
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Qtd</th>
                    <th>Total</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Itempedido)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CardapioPizzaIdCardapioNavigation.Tipo) +"DE"+ @Html.DisplayFor(modelItem => item.CardapioPizzaIdCardapioNavigation.Sabor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecoUnidade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantidade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4 pull-right">
                    <label for="">Total</label>
                    <input id="TotalPedido" asp-for="TotalPedido" class="form-control">
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12 text-right">
                    <input class="btn btn-success btn-lg" onclick="createPedido()" value="Cadastrar novo produto" />
                    <a href="/Pedidos/Index" class="btn btn-danger btn-lg">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>
