
@model IEnumerable<SistemaWebPizzaria.Models.Funcionario>


@{ViewData["Title"] = "Funcionários Cadastrados";}

<h2>@ViewData["Title"]</h2>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Novo Funcionário</a>
    <a asp-action="../Home/MenuSistema" class="btn btn-primary btn-lg">Home</a>
</p>

<div>
    <table class="table table-bordered table-hover" style="border-color:#9a9a9a">
        <thead>
            <tr class="bg-primary">
                <th>
                    <label class="control-label text-center">Nome</label>
                </th>
                <th>
                    <label class="control-label">CPF</label>
                </th>
                <th>
                    <label class="control-label">Tipo</label>
                </th>
                <th>
                    <label class="control-label">E-mail</label>
                </th>
                <th>
                    <label class="control-label">Celular</label>
                </th>
                <th>
                    <label class="control-label">Salário</label>
                </th>
                <th>
                    <label class="control-label">Cadastro</label>
                </th>
                <th>
                    <label class="control-label">Senha Padrão</label>
                </th>
                <th>
                    <label class="control-label">Inativação</label>
                </th>
                <th>
                    <label class="control-label">Ações</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                        <td>
                            @{
                                    if (item.IdLoginNavigation != null)
                                    {
                                        if (item.IdLoginNavigation.SenhaPadrao == "S")
                                        {
                                            @Html.DisplayFor(modelItem => item.IdLoginNavigation.Senha)
                                        }
                                    }

                                }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInativacao)
                        </td>
                        <td>


                            @{ if (item.Ativo == "S")
                                {
                                                                       

                                    <a asp-action="Edit" class="btn btn-default btn-sm" asp-route-id="@item.IdFuncionario"><span class="material-icons">edit</span></a> @*chama tela de ditar com os campos preenchidos*@
                                    <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal-@item.IdFuncionario"><span class="material-icons">delete</span></a>

                                }
                            }

                            @{ if (item.Ativo == "N")
                                {

                                    <a asp-action="AtivaFuncionario" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalAtivaCliente-@item.IdFuncionario"><span class="material-icons">loop</span></a>
                                    <a class="btn btn-danger btn-sm " data-toggle="modal" @*data-target="#myModal-@item.ClienteIdCliente"*@><span class="material-icons">person_add_disabled</span></a>

                                }
                            }
                        </td>
                    </tr>
                    <div class="modal fade" id="myModal-@item.IdFuncionario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myModalLabel">Atenção</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Deseja mesmo inativar o funcionário @Html.DisplayFor(modelItem => item.Nome) ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">voltar</button>
                                    <a asp-action="Inativa" asp-route-id="@item.IdFuncionario" class="btn btn-danger">Inativar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal reativar cliente -->
                    <div class="modal fade" id="myModalAtivaCliente-@item.IdFuncionario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myModalLabel">Atenção</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Deseja mesmo reativar o funcionário @Html.DisplayFor(modelItem => item.Nome) ? </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">voltar</button>
                                    <a asp-action="AtivarFuncionario" asp-route-id="@item.IdFuncionario" class="btn btn-primary">Reativar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        </tbody>
    </table>
</div>
